<h1>Display super_hero Team</h1>
  <h1><%=@team.name%></h1>
  <h2><%=@team.motto%></h2>

<br>

<h1>Display each Super_Hero Information</h1>

<h1><%=@heros.name%></h1>
  <br>
  <h3>Hero Power:<%=@heros.power%></h3>
  <h3><%=@heros.bio%></h3>
